$toast-max-width:                   350px;
$toast-padding-x:                   .75rem;
$toast-padding-y:                   .5rem;
$toast-font-size:                   .875rem;
$toast-color:                       null;
$toast-background-color:            rgba(235, 0, 0, 0.94);
$toast-border-width:                1px;
$toast-border-color:                rgba(19, 18, 23, 0.74);
$toast-border-radius:               .25rem !default;
$toast-box-shadow:                  0 .5rem 1rem rgba( #000, .15) !default;
$toast-spacing:                     1.5rem * .5 !default;

$toast-header-color:                #6c757d !default;
$toast-header-background-color:     rgba(255, 255, 255, 0.87);
$toast-header-border-color:         rgba(0, 0, 0, .05);