<div class="gradient-custom border">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Presentation Micolet</a>
    </li>
    </li>
  </ul>
</div>